#!/usr/bin/make -f
# Crate sources are vendored by scripts/prepare-source.sh (cargo vendor);
# the sbuild itself runs fully offline.
include debian/common/rust.mk
include debian/common/rules.mk

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build

override_dh_auto_install:
	$(MAKE) PREFIX=/usr DESTDIR=debian/aardvark-dns install
